<center>
    <img src="https://www.the-numbers.com/images/the-numbers-banner.png" width="500" alt="Number logo"  />
</center>

# Objective: Scrap Movies Box Office Collection Data.

## Import  Libraries
To Scrap the Data, we will need some tools at our disposal to make the process as seamless as possible. We will not go through all the libraries but will take the time to explain a few.

1. **BeautifulSoup** - This Library is used for Extracting or Scraping Data from the Website.
2. **csv** - To Save the data in the csv format.
3. **requests** - requests module allows you to send HTTP requests using Python.

In [2]:
import requests
from bs4 import BeautifulSoup
import csv

## Getting Url 
To get Data,we need the website url from which we have to extract the data which is required for Analysis or Information Purpose.

In [3]:
def get_url(number):
    demo_url = 'https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/{}'
    url = demo_url.format(number)
    return url

In [4]:
print(get_url(1))

https://www.the-numbers.com/box-office-records/worldwide/all-movies/cumulative/all-time/1

## Getting Output

We will be getting output for each record and will be calling get_output() function from the MoviesEarning()

In [5]:
def get_output(in_put):
    
    try:
        Rank = in_put.find_all('td')[0].text.strip()
    except AttributeError:
        Rank = ''
        
    try:
        Year = in_put.find_all('td')[1].text.strip()
    except AttributeError:
        Year = ''
        
    try:
        Film = in_put.find_all('td')[2].text.strip()    
    except AttributeError:
        Film = ''
        
    try:
        Worldwide = in_put.find_all('td')[3].text.strip()
    except:
        Worldwide = ''
    
    try:
        Domestic = in_put.find_all('td')[4].text.strip()
    except:
        Domestic = ''
        
    try:
        International = in_put.find_all('td')[5].text.strip()
    except:
        International = ''
    
    output = (Rank,Year,Film,Worldwide,Domestic,International)
    
    return output

In [6]:
def MoviesEarning():
    output = []
    print("Enter the records , It should between 100 to 30000 : ")
    n = int(input())
    for i in range(1,n,100):
        url = get_url(i)
        response = requests.get(url).text
        soup = BeautifulSoup(response,'html.parser')
        in_puts = soup.find('tbody').find_all('tr')
        for in_put in in_puts:
            output.append(get_output(in_put))
    
    
    with open('MoviesEarningdemo.csv','w',newline='',encoding='utf-8') as file:
        a = csv.writer(file)
        a.writerow(['Rank','Year','Film','Worldwide','Domestic','International'])
        a.writerows(output)

In [8]:
 MoviesEarning()

Enter the records , It should between 100 to 30000 :
2

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('MoviesEarningdemo.csv')

### *Top 10 **highest-grossing** films, worldwide, of all time.*

In [7]:
new_df = df.head(10)

In [10]:
new_df

,Rank,Year,Film,Worldwide,Domestic,International
0,1,2009,Avatar,"$2,801,593,640","$760,507,625","$2,041,086,015"
1,2,2019,Avengers: Endgame,"$2,797,800,564","$858,373,000","$1,939,427,564"
2,3,1997,Titanic,"$2,207,986,545","$659,363,944","$1,548,622,601"
3,4,2015,Star Wars Ep. VII: The Force Awakens,"$2,065,478,084","$936,662,225","$1,128,815,859"
4,5,2018,Avengers: Infinity War,"$2,044,540,523","$678,815,482","$1,365,725,041"
5,6,2015,Jurassic World,"$1,669,979,967","$652,306,625","$1,017,673,342"
6,7,2019,The Lion King,"$1,654,381,934","$543,638,043","$1,110,743,891"
7,8,2015,Furious 7,"$1,517,179,709","$353,007,020","$1,164,172,689"
8,9,2012,The Avengers,"$1,515,100,211","$623,357,910","$891,742,301"
9,10,2019,Frozen II,"$1,447,244,586","$477,373,578","$969,871,008"

In [9]:
new_df.to_excel('movies.xlsx')

# CREDIT
*Here,I have used  [**The Number**](https://www.the-numbers.com/) to extract the Box office Information,this information is just for the Project Purpose.*