Things to Perform 

1.) Handling Missing Data.

2.) Date Formating.

3.) Removing Duplicates.

**Importing the Libraries**

In [24]:
import pandas as pd
import seaborn as sns
import numpy as np

**Importing Data**

In [25]:
df = pd.read_csv('US_Database.csv')

**Number of rows and Columsn in the Data.**

In [26]:
df.shape

(2498, 21)

**Identifying the Datatype of the Column.**

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Unique Investment Identifier          2498 non-null   object
 1   Business Case ID                      2474 non-null   float64
 2   Agency Code                           2474 non-null   float64
 3   Agency Name                           2474 non-null   object
 4   Investment Title                      2474 non-null   object
 5   Project ID                            2474 non-null   float64
 6   Project Name                          2474 non-null   object
 7   Project Description                   2474 non-null   object
 8   Start Date                            2457 non-null   object
 9   Completion Date (B1)                  2457 non-null   object
 10  Planned Project Completion Date (B2)  1546 non-null   object
 11  Lifecycle Cost                        2481 non-null   float64
 12  Schedule Variance (in days)           2481 non-null   float64
 13  Schedule Variance (%)                 2481 non-null   float64
 14  Cost Variance ($ M)                   2481 non-null   float64
 15  Cost Variance (%)                     2481 non-null   float64
 16  Planned Cost ($ M)                    2481 non-null   float64
 17  Projected/Actual Cost ($ M)           2481 non-null   float64
 18  Updated Date                          2474 non-null   object
 19  Updated Time                          2474 non-null   object
 20  Unique Project ID                     2474 non-null   object
dtypes: float64(10), object(11)
memory usage: 410.0+ KB

## Missing Values

**How many Null Values are their in each column?**

In [28]:
df.isnull().sum().sort_values(ascending=False)

Planned Project Completion Date (B2)    952
Completion Date (B1)                     41
Start Date                               41
Business Case ID                         24
Agency Code                              24
Agency Name                              24
Investment Title                         24
Project ID                               24
Project Name                             24
Project Description                      24
Unique Project ID                        24
Updated Time                             24
Updated Date                             24
Lifecycle Cost                           17
Schedule Variance (in days)              17
Schedule Variance (%)                    17
Cost Variance ($ M)                      17
Cost Variance (%)                        17
Planned Cost ($ M)                       17
Projected/Actual Cost ($ M)              17
Unique Investment Identifier              0
dtype: int64

In [29]:
df[['Planned Project Completion Date (B2)','Completion Date (B1)']].head()

  Planned Project Completion Date (B2) Completion Date (B1)
0                                  NaN           30-09-2012
1                           31-03-2012           31-03-2012
2                                  NaN           30-09-2012
3                                  NaN           30-09-2012
4                           30-09-2011           30-09-2011

After Comparing the Above two columns it seems like Completion Date (B1)  && Planned Project Completion Date (B2) are equal

Lets compare both columns

In [30]:
df.dropna(subset=['Planned Project Completion Date (B2)','Completion Date (B1)'],how = 'all',inplace=True)

In [31]:
df.shape

(2457, 21)

In [32]:
compare_data = np.where(df['Completion Date (B1)'] != df['Planned Project Completion Date (B2)'],1,0)

In [33]:
df['Comp'] = compare_data

In [34]:
df['Comp'].value_counts()

1    1419
0    1038
Name: Comp, dtype: int64

In [35]:
df.isnull().sum()

Unique Investment Identifier              0
Business Case ID                          0
Agency Code                               0
Agency Name                               0
Investment Title                          0
Project ID                                0
Project Name                              0
Project Description                       0
Start Date                                0
Completion Date (B1)                      0
Planned Project Completion Date (B2)    911
Lifecycle Cost                            0
Schedule Variance (in days)               0
Schedule Variance (%)                     0
Cost Variance ($ M)                       0
Cost Variance (%)                         0
Planned Cost ($ M)                        0
Projected/Actual Cost ($ M)               0
Updated Date                              0
Updated Time                              0
Unique Project ID                         0
Comp                                      0
dtype: int64

In [36]:
print('After Comparing different records are : ',1410 - 904)

After Comparing different records are :  506

So it shows that majority of the Planned Project Completion Date (B2) is same as Completion Date (B1) and 

So we will impute NAN Values in Planned Project Completion Date same as of the Completion Date.

In [37]:
df['Planned Project Completion Date (B2)'].fillna(df['Completion Date (B1)'],inplace=True)

# Formating the Date

In [38]:
df['new_Planned_Project_Completion_Date'] = pd.to_datetime(df['Planned Project Completion Date (B2)'])
df['new_Completion_Date'] = pd.to_datetime(df['Completion Date (B1)'])

In [39]:
df.drop(columns=['Comp','Completion Date (B1)','Planned Project Completion Date (B2)'],axis=1,inplace=True)

In [40]:
df.columns

Index(['Unique Investment Identifier', 'Business Case ID', 'Agency Code',
       'Agency Name', 'Investment Title', 'Project ID', 'Project Name',
       'Project Description', 'Start Date', 'Lifecycle Cost',
       'Schedule Variance (in days)', 'Schedule Variance (%)',
       'Cost Variance ($ M)', 'Cost Variance (%)', 'Planned Cost ($ M)',
       'Projected/Actual Cost ($ M)', 'Updated Date', 'Updated Time',
       'Unique Project ID', 'new_Planned_Project_Completion_Date',
       'new_Completion_Date'],
      dtype='object')

## Finding Duplicates Rows & Removing Them

first : Mark duplicates as True except for the first occurrence.

last : Mark duplicates as True except for the last occurrence.

False : Mark all duplicates as True.

In [41]:
df[df.duplicated(keep = 'first')].head()

,Unique Investment Identifier,Business Case ID,Agency Code,Agency Name,Investment Title,Project ID,Project Name,Project Description,Start Date,Lifecycle Cost,...,Schedule Variance (%),Cost Variance ($ M),Cost Variance (%),Planned Cost ($ M),Projected/Actual Cost ($ M),Updated Date,Updated Time,Unique Project ID,new_Planned_Project_Completion_Date,new_Completion_Date
3,005-000001723,212.0,5.0,Department of Agriculture,AMS Infrastructure WAN and DMZ (AMSWAN),658.0,Refresh,Programs Areas will replace 1/3 of their compu...,01-04-2012,1.460,...,0.00,0.00000,0.00,1.4600,1.46000,28-10-2011,05:50:19,3,2012-09-30,2012-09-30
173,005-000000073,393.0,5.0,Department of Agriculture,AgPRS - USDA Public Safety Land Mobile Radio S...,1647.0,AgPRS Operations and Maintenance Project,AgPRS Operations and Maintenance ProjectThis l...,03-10-2011,21.611,...,0.00,0.13575,2.95,4.6095,4.47375,30-06-2012,14:56:42,2,2012-09-28,2012-09-28
174,005-000000098,394.0,5.0,Department of Agriculture,Forest Service Computer Base,1764.0,SR 20115337 Cloud Services,Proof of Concept for Cloud Services.,01-06-2011,0.550,...,-2247.06,0.00000,0.00,0.4000,0.40000,01-08-2012,13:22:38,5,2012-10-19,2012-10-19
175,005-000000098,394.0,5.0,Department of Agriculture,Forest Service Computer Base,1765.0,SR 20092856 DOI - USDA FS Access Authentication,To address interagency operability opportunities.,06-01-2009,0.900,...,-339.75,0.00000,0.00,300.6000,300.60000,31-10-2011,13:10:21,7,2010-11-06,2017-12-14
176,005-000000098,394.0,5.0,Department of Agriculture,Forest Service Computer Base,1766.0,SR 20115259 Linc Pass 2 Factor Identification,Security project to address implementation of ...,15-02-2011,0.800,...,-300.00,0.00000,0.00,300.5000,300.50000,31-10-2011,13:10:21,9,2013-01-15,2013-01-15

Removing the Duplicates

In [42]:
df.drop_duplicates(keep='first',inplace=True)

In [43]:
df.shape

(2445, 21)

Checking for the Duplicates after Deleting

In [44]:
df[df.duplicated(keep = 'first')].head()

Empty DataFrame
Columns: [Unique Investment Identifier, Business Case ID, Agency Code, Agency Name, Investment Title, Project ID, Project Name, Project Description, Start Date, Lifecycle Cost, Schedule Variance (in days), Schedule Variance (%), Cost Variance ($ M), Cost Variance (%), Planned Cost ($ M), Projected/Actual Cost ($ M), Updated Date, Updated Time, Unique Project ID, new_Planned_Project_Completion_Date, new_Completion_Date]
Index: []

[0 rows x 21 columns]

In [45]:
df.describe()

,Business Case ID,Agency Code,Project ID,Lifecycle Cost,Schedule Variance (in days),Schedule Variance (%),Cost Variance ($ M),Cost Variance (%),Planned Cost ($ M),Projected/Actual Cost ($ M)
count,2445.000000,2445.000000,2445.000000,2445.000000,2445.000000,2445.000000,2445.000000,2445.000000,2445.000000,2445.000000
mean,533.826176,33.247035,1535.666667,258.799922,-33.058896,-41.296164,-0.653433,-43.156949,20.565107,21.218540
std,323.100837,79.332838,945.443831,3562.740735,103.992272,1116.233332,60.703200,1057.921566,197.199758,207.707670
min,3.000000,5.000000,2.000000,0.000000,-1259.000000,-54600.000000,-2350.070000,-33767.380000,0.000001,0.000000
25%,262.000000,9.000000,722.000000,0.754000,-10.000000,-3.360000,0.000000,0.000000,0.503000,0.498987
50%,492.000000,16.000000,1416.000000,3.106090,0.000000,0.000000,0.000000,0.000000,1.927104,1.894810
75%,832.000000,24.000000,2315.000000,13.400000,0.000000,0.000000,0.012008,1.000000,6.466000,6.443000
max,1137.000000,429.000000,3275.000000,119098.812000,1164.000000,3500.000000,1027.653000,100.000000,6119.000000,6118.999860

In [46]:
df.to_csv('US_DATASET.csv')

# CREDIT
*Here,I have used  [US Governments IT Dashboard system](https://www.itdashboard.gov/drupal/data/datafeeds?format=csv) to collect Data,this information is just for the Project Purpose.*